body {
    padding: 20px;
    background-color: #6b1cb4;
    color: #fff;
}

a {
    text-decoration: none;
    color: #12f771;
}

header>.header {
    display: flex;
    
}
.header>.menu-nav {
    display: flex;
}

.progress-title{
    font-size: 18px;
    font-weight: 700;
    color: #02fa69;
    margin: 0 0 10px;
}
.progress{
    height: 30px;
    background: #fff;
    border-top: 5px solid #1c2647;
    border-bottom: 5px solid #1c2647;
    border-radius: 0;
    margin-bottom: 25px;
    overflow: visible;
    position: relative;
}
.progress:before,
.progress:after{
    content: "";
    width: 5px;
    background: #1c2647;
    position: absolute;
    top: 0;
    left: -5px;
    bottom: 0;
}
.progress:after{
    left: auto;
    right: -5px;
}
.progress .progress-bar{
    border: none;
    box-shadow: none;
    background-color: #0da333;
    -webkit-animation: 2s linear 0s normal none infinite running progress-bar-stripes,animate-positive 1s;
    animation: 2s linear 0s normal none infinite running progress-bar-stripes,animate-positive 1s;
}
@-webkit-keyframes animate-positive{
    0%{ width: 0; }
}
@keyframes animate-positive{
    0%{ width: 0; }
}